.primaryButton {
    background-color: #FFCA3A;
    color: black;
    padding: 0.5em 1em;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
   margin-right: 0.3em;
  }
  .primaryButton:hover {
    background-color: lighten(#FFCA3A, 20%);
  }
  .secondaryButton {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #FFCA3A;
    margin-right: 0.3em;

  }
  .secondaryButton:hover {
    background-color: lighten(black, 20%);
  }